@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {

/* Colors */
    --cream: #fcfcf5;
    --red: #a10f05;
    --dark: #000;
    --off-white: #fafafa;
    --light-grey: #a0a0a0;
    --dark-grey: #595959;
}

/* Keyframes */

@keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }

  @keyframes changeBorderColor {
    0% {
      border-color: var(--light-grey); 
    }
    100% {
      border-color: var(--red); 
    }
  }

  @keyframes changeBackgroundColor {
    0% {
      background-color: none;
    }
    33% {
        background-color: var(--red);
    }
    100% {
      background-color: var(--light-grey)
    }
  }

.fade-in {
    animation: fadeIn 1s ease-in; 
    background-color: rgba(237, 229, 229, 0.9);
  }

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* overflow-y: scroll; */
}

.font-one {
    font-family: "Bitter", sans-serif;
}

.font-two {
    font-family: "Exo+2", sans-serif;
}

.full-vh-section {
    min-height: 100vh;
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.headings {
    font-family: "Bitter", sans-serif;
}

/*Colors--------------------------------*/



.bg-color-navbar {
    background-color: var(--cream);
}

.link-icon:hover {
    color: var(--red);
}

.bg-color-footer {
    background-color: var(--cream);
}

.footer-menu-link:hover {
    color: var(--red);
}

.nav-link:hover {
    color: var(--red);
}

/* Backgrounds */

.bg-stage-image {
    background-image: url("../images/bedlam-stage-background-1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.bg-glass {
    /* Glassmorphism effect for background */
    background: rgba(253, 252, 240, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}

/* New layout idea */

.ph-content-container {
    height: 55vh;
    margin-top: 3.5rem;
    margin-bottom: 10%;
}

.ph-content-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 5px solid transparent; 
}

.ph-content-wrapper:hover {
    border-color: var(--light-grey); 
    animation-name: changeBorderColor, changeBackgroundColor;
    animation-duration: 1s, 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.ph-content {
    position: absolute;
    background-color: var(--dark);
    height: 90%;
    width: 90%;
    border-radius: 5px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#bandcamp-player {
    width: 100%; 
    height: 100%;
    border-radius: 5px;
}


/* New layout end */



/*Home Page------------------------------*/

#home-section {
    scroll-snap-align: start;
}

.name-heading {
    color: var(--cream);
    padding-top: 125px;
    font-size: 3rem;
}

#content-section {
    scroll-snap-align: start;
    /* padding-top: 100px; */
    overflow: hidden;
}

#glass-layer {
    height: 100%;
    width: 100%;
}

#content-heading {
    color: var(--cream);
    padding-top: 120px;
}

#bandcamp-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    height: 480px;
    width: 375px;
    border-radius: 12px;
    position: relative;
}

/* #bandcamp-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0; 
    width: 315px; 
    height: 427px;
    border-radius: 12px;
} */

#member-container {
    overflow-y: auto; 
    scroll-snap-type: y mandatory;
    height: 480px;
    width: 45vw;
    margin-top: 2rem;
    /* padding-left: 0.75rem; */
    padding-right: 0px;
    border-radius: 12px;
}

.member {
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    color: var(--cream);
    /* position: relative; */
}

.member-photo {
    width: 80%;
    max-height: 350px;
    border-radius: 12px;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

details {
    font-size: 1.25rem;
}

summary {
    list-style-type: none;
}

.member-info {
    padding-top: 0.5rem;
}

/* Scrollbar */

#member-container::-webkit-scrollbar {
    width: 10px; 
    background-color: transparent;
}

#member-container::-webkit-scrollbar-thumb {
    background-color: var(--light-grey); 
    border-radius: 12px;
}

#member-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 12px;
}

#member-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--red); 
  }

/* Footer-----------------------------*/

footer {
    min-height: 60px;
    margin: 0;
}

.footer-wrapper {
    height: 100%;
}

.menu-container {
    padding-left: 0;
}

.footer-menu {
    padding-left: 1rem;
    height: 100%;
}

.footer-menu li a {
    text-decoration: none;
    font-weight: 400;
    padding-right: 0.75rem;
    margin-top: 1.25rem;
    color: var(--dark);
}

.footer-menu li a:nth-of-type(5){
    padding-right: 0px;
}

.copy-container {
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.copy {
    font-weight: 200;
    margin-top: 2rem;
    margin-bottom: 0;
    color: var(--dark);
}

.social {
    height: 100%;
    text-align: right;
    padding-top: 1rem;
}

.social-links {
    font-size: 1.25rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: var(--dark);
}

.social-links:last-child {
    margin-right: 1rem;
}

/*Video Page-----------------------*/

.video-gallery {
    padding-top: 125px;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.video-box {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 5px solid var(--cream);
    border-radius: 5px;
}

.video-size {
    height: 275px;
    width: 100%;
}

.video-box:hover {
    border-color: var(--light-grey); 
    animation: changeBorderColor 1s ease-in forwards; 
}

/*Gallery Page--------------------------*/

.image-gallery {
    padding-top: 150px;
    padding-bottom: 80px;
}

.gallery-image {
  border: 5px solid var(--cream); 
  border-radius: 5px; 
}

.gallery-image:hover {
    border-color: var(--light-grey); 
    animation: changeBorderColor 1s ease-in forwards; 
}

/*Contact page----------------------------*/

.contact-heading {
    margin-top: 100px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--cream);
}

.form-container {
    width: 50%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--black);
    background-color: var(--off-white);
    opacity: 95%;
    border-radius: 12px;
}

.form-heading {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.bg-input-fields {
    background: transparent;
    color: var(--cream);
}

.contact-text-area {
    padding-top: 1rem;
    width: 85%;
    margin: 0 auto;
}

.text-area-heading {
    padding-bottom: 1rem;
}

.form-button {
    color: var(--cream);
    background-color: var(--red);
    margin-bottom: 1rem;
}

.form-button:hover {
    color: var(--cream);
    background-color: var(--dark);
}

/* Submit response-------------------*/

#submit-section {

}

.response-wrapper {
    padding-top: 375px;
}

.response-box {
    margin: 0 auto;
    width: 80%;
    background-color: var(--cream);
    opacity: 80%;
    border-radius: 12px;
}

.response-text {
    min-height: 100px;
    padding-top: 1.5rem;
}

#response-home-link {
    color: var(--red);
}

/*Media Queries--------------------------Media Queries*/

@media screen and (max-width: 768px) { 
    #member-container {
        width: 75vh;
    }
    #bandcamp-wrapper {
        transform: scaleX(0.8);
        transform: scaleY(0.9);
    }
    #member-container {
        margin-left: 5%;
    }
    .social {
        text-align: center;
    }
    
}


/*Home Page---------------------------*/

/* @media screen and (min-height: 1800px) {
    #bottom-heading {
        min-height: 1200px;
    }
    .form-container {
        min-height: 1600px;
    }
}

@media screen and (min-height: 1000px) {
    #bottom-heading {
        min-height: 1200px;
    }
    .form-container {
        min-height: 1000px;
        padding-top: 50px;
    }
    .form-heading {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .name-heading {
        font-size: 4rem;
        padding-top: 150px;
    }
    #bottom-heading {
        min-height: 800px;
    }
    .form-container {
        width: 75%;
    }
}

@media screen and (max-width: 1000px) {
    #bottom-heading {
        min-height: 100px;
    }
    .bandcamp-wrapper {
        margin-bottom: 1rem;
        margin-left: 0px;
    }
    .member-col {
        padding-top: 0.75rem;
        padding-left: 10%;
    }
    .member-info {
        margin-right: 50px;
    }
    .member-col > .member-info:nth-child(6) {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .name-heading {
        font-size: 2.5rem;
    }
    .bandcamp-wrapper {
        margin-right: 0px;
    }
    .member-col {
        padding-left: 7.5%;
    }
    .member-info {
        margin-right: 1.5rem;
    }
    .footer-menu {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px; 
    }
    .social {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0.5rem;
    }
    .social-links:last-child {
        margin-right: 0px;
    }
    .footer-menu {
        padding-left: 0px;
    }
    .sm-text-align-center {
        text-align: center;
    }
    .form-container {
        width: 80%;
    }
    .contact-text-area {
        width: 95%;
    }
}

@media screen and (max-width: 490px) {
    .member-section {
        background-image: url("../images/home-page/bedlam-stage-background-small-screens.jpg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        font-family: "Bitter", sans-serif;
    }
    .member-col {
        padding-left: 8%;
    }
    .member-info {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 350px) {
    #bandcamp-player {
        height: 400px;
        width: 280px;
    }
    .member-col {
        padding-left: 10%;
    }
    .member-info {
        margin-right: 0.25rem;
    }
}     */