@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {

/* Colors */
    --cream: #fcfcf5;
    --red: #a10f05;
    --dark: #000;
    --off-white: #fafafa;
    --light-grey: #a0a0a0;
    --dark-grey: #595959;
    --bg-light: #ffffffb7;
    --nav-text: #00000093;
    --dark-red: #700000;
}

/* Keyframes */

@keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    75% {
        opacity: 0.5;
    }
    100% {
      opacity: 1; 
    }
  }

@keyframes changeBorderColorIn {
    0% {
        border-color: var(--cream); 
        border-width: 0px;
    }
    100% {
        border-color: var(--red);
        border-width: 5px;
    }
}

@keyframes changeBorderColorOut {
    0% {
        border-color: var(--red); 
        border-width: 5px;
    }
    50% {
        border-color: var(--cream); 
    }
    100% {
        border-color: transparent;
        border-width: 0px; 
    }
}

@keyframes changeBackgroundColorIn {
    0% {
        background-color: none;
    }
    100% {
        background-color: var(--bg-light);
    }
}

@keyframes changeBackgroundColorOut {
    0% {
        background-color: var(--bg-light);
    }
    100% {
        background-color: none;
    }
}

@keyframes paddingMemberIn {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 1rem;
    }
}

@keyframes paddingMemberOut {
    0% {
        padding-top: 1rem;
    }
    100% {
        padding-top: 0px;
    }
}

@keyframes paddingBandcampIn {
    0% {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    100% {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@keyframes paddingBandcampOut {
    0% {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    100% {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@keyframes memberTextIn {
    0% {
        color: var(--cream);
        padding-top: 2.5rem;
    }
    100% {
        color: var(--dark);
        padding-top: 1rem;
    }
}

@keyframes memberTextOut {
    0% {
        color: var(--dark);
        padding-top: 1rem;
    }
    100% {
        color: var(--cream);
        padding-top: 2.5rem;
    }
}

@keyframes linkColorIn {
    0% {
        color: var(--nav-text);
    }
    100% {
        color: var(--red)
    }
}

@keyframes linkColorOut {
    0% {
        color: var(--red);
    }
    100% {
        color: var(--nav-text);
    }
}

@keyframes activeLinkColorIn {
    0% {
        color: var(--dark);
    }
    100% {
        color: var(--red);
    }
}

@keyframes activeLinkColorOut {
    0% {
        color: var(--red);
    }
    100% {
        color: var(--dark);
    }
}

@keyframes submitIn {
    0% {
        background-color: var(--red); 
    }
    100% {
        background-color: var(--dark-red);
    }
}

@keyframes submitOut {
    0% {
        background-color: var(--dark-red);
    }
    100% {
        background-color: var(--red); 
    }
}

@keyframes imageVidIn {
    0% {
        border-color: var(--cream) 
    }
    100% {
        border-color: var(--red);
    }
}

@keyframes imageVidOut {
    0% {
        border-color: var(--red);
    }
    100% {
        border-color: var(--cream);
    }
}


.fade-in {
    animation: fadeIn 1s ease-in-out; 
    background-color: rgba(137, 133, 133, 0.9);
  }

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* overflow-y: scroll; */
}

.font-one {
    font-family: "Bitter", sans-serif;
}

.font-two {
    font-family: "Exo+2", sans-serif;
}

.full-vh-section {
    min-height: 100vh;
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.headings {
    font-family: "Bitter", sans-serif;
}

/*Colors--------------------------------*/



.bg-color-navbar {
    background-color: var(--cream);
}

.bg-color-footer {
    background-color: var(--cream);
}

.footer-menu-link:hover,
.nav-link:hover {
    animation: linkColorIn 0.5s ease-in-out forwards;
}

.footer-menu-link:not(:hover),
.nav-link:not(:hover) {
    animation: linkColorOut 0.5s ease-in-out forwards;
}
/* Backgrounds */

.bg-stage-image {
    background-image: url("../images/bedlam-stage-background-1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.bg-glass {
    /* Glassmorphism effect for background */
    background: rgba(253, 252, 240, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}

/*Home Page------------------------------*/

#home-section {
    scroll-snap-align: start;
}

.name-heading {
    color: var(--cream);
    padding-top: 125px;
    font-size: 3rem;
}

#content-section {
    scroll-snap-align: start;
    overflow: hidden;
}

#glass-layer {
    height: 100%;
    width: 100%;
}

#content-heading {
    color: var(--cream);
    padding-top: 120px;
}

.content-container {
    min-height: 55vh;
    margin-top: 3.5rem;
    margin-bottom: 10%;
}

.content-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 5px solid transparent; 
}

.content-wrapper:hover { 
    /* border-color: var(--light-grey); */
    animation-name: changeBorderColorIn, changeBackgroundColorIn;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.content-wrapper:not(:hover) {
    border-color: transparent;
    animation-name: changeBorderColorOut, changeBackgroundColorOut;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.content-wrapper:hover .member {
    animation: paddingMemberIn 1s ease-in-out forwards;
}

.content-wrapper:not(:hover) .member {
    animation: paddingMemberOut 0.5s ease-in-out forwards;
}

.content-wrapper:hover details {
    animation: memberTextIn 1s ease-in-out forwards;
}

.content-wrapper:not(:hover) details {
    animation: memberTextOut 0.5s ease-in-out forwards;
}

.content-wrapper:hover #bandcamp-player {
    animation: paddingBandcampIn 1s ease-in-out forwards;
}

.content-wrapper:not(:hover) #bandcamp-player {
    animation: paddingBandcampOut 0.5s ease-in-out forwards;
} 

.home-page-content {
    position: absolute;
    height: 100%;
    width: 90%;
    border-radius: 5px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bandcamp-player {
    width: 100%; 
    height: 100%;
    border: 0px solid transparent;
    border-radius: 5px;
}

#member-container {
    overflow: hidden;
    scroll-snap-type: y mandatory;
}

#member-container:hover {
    overflow-y: auto;
}

.member {
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    color: var(--cream);
    border: none;
}

.member-photo {
    width: 80%;
    height: 70%;
    border: 0px solid transparent;
    border-radius: 5px;
}

details {
    font-size: 1.25rem;
}

summary {
    list-style-type: none;
    /* padding-top: 1rem; */
}

.member-info {
    padding-top: 0.5rem;
}

/* Scrollbar */

#member-container::-webkit-scrollbar {
    width: 10px; 
    background-color: transparent;
}

#member-container::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey); 
    border-radius: 10px;
}

#member-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#member-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--red);
  }

/* Footer-----------------------------*/

footer {
    min-height: 60px;
    margin: 0;
}

.footer-wrapper {
    height: 100%;
}

.menu-container {
    padding-left: 0;
}

.footer-menu {
    padding-left: 1rem;
    height: 100%;
}

.footer-menu li a {
    text-decoration: none;
    font-weight: 400;
    padding-right: 0.75rem;
    margin-top: 1.25rem;
    color: var(--dark);
}

.copy-container {
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.copy {
    margin-top: 2rem;
    margin-bottom: 0;
    color: var(--dark);
    font-weight: 400;
}

.social {
    height: 100%;
    text-align: right;
    padding-top: 1rem;
}

.social-links {
    font-size: 1.25rem;
    color: var(--dark);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.social li {
    margin-right: 0px;
}

.active:hover, .social-links:hover {
    animation: activeLinkColorIn 0.5s ease-in-out forwards;
}

.active:not(:hover), .social-links:not(:hover) {
    animation: activeLinkColorOut 0.5s ease-in-out forwards;
}

/*Video Page-----------------------*/

.video-gallery {
    padding-top: 125px;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.video-box {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 5px solid var(--cream);
    border-radius: 5px;
}

.video-size {
    height: 275px;
    width: 100%;
}

.video-box:hover {
    border-color: var(--cream); 
    animation: imageVidIn 1s ease-in-out forwards; 
}

.video-box:not(:hover) {
    animation: imageVidOut 1s ease-in-out forwards;
}

/*Gallery Page--------------------------*/

.image-gallery {
    padding-top: 150px;
    padding-bottom: 80px;
}

.gallery-image {
  border: 5px solid var(--cream); 
  border-radius: 5px; 
}

.gallery-image:hover {
    border-color: var(--cream); 
    animation: imageVidIn 1s ease-in-out forwards; 
}

.gallery-image:not(:hover) {
    animation: imageVidOut 1s ease-in-out forwards;
}

/*Contact page----------------------------*/

.contact-heading {
    margin-top: 100px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--cream);
}

.form-container {
    width: 50%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--black);
    background-color: var(--off-white);
    opacity: 95%;
    border-radius: 12px;
}

.form-heading {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.bg-input-fields {
    background: transparent;
    color: var(--cream);
}

.contact-text-area {
    padding-top: 1rem;
    width: 85%;
    margin: 0 auto;
}

.text-area-heading {
    padding-bottom: 0.75rem;
}

.form-button {
    color: var(--cream);
    background-color: var(--red);
    margin-bottom: 1rem;
}

.form-button:hover {
    animation: submitIn 0.5s ease-in-out forwards;
    color: var(--cream);
}

.form-button:not(:hover) {
    animation: submitOut 0.5s ease-in-out forwards;
    color: var(--cream);
}

/* Submit response-------------------*/

#submit-section {

}

.response-wrapper {
    padding-top: 375px;
}

.response-box {
    margin: 0 auto;
    width: 80%;
    background-color: var(--cream);
    opacity: 80%;
    border-radius: 12px;
}

.response-text {
    min-height: 100px;
    padding-top: 1.5rem;
}

#response-home-link {
    color: var(--red);
}

/*Media Queries--------------------------Media Queries*/

/* @media screen and (max-width: 1000px) {
    .name-heading {
        font-size: 4rem;
        padding-top: 150px;
    }
    #member-container {
        margin-bottom: 3rem;
    }
} */

/* Footer only---------------------------*/

@media screen and (max-width: 1170px) {
    .copy-container {
        display: none;
    }
}

@media screen and (max-width: 785px) {
    .menu-container {
        display: none;
    }
    .social {
        text-align: center;
    }
    .social-links {
        font-size: 1.5rem;
    }
    .social-links:nth-of-type(5) {
        margin-right: 0px;
    }
}

/* Footer only---------------------------*/


@media screen and (max-width: 768px) { 

    .name-heading {
        font-size: 4rem;
        padding-top: 150px;
    }
    #content-section, #contact-section {
        padding-bottom: 4rem;
    }
    .form-container {
        width: 80%;
        min-height: 30vh;
        margin-bottom: 3rem;
    }
    .contact-text-area {
        width: 95%;
    }
    #name, #email-address {
        max-width: 80%;
        margin: 0 auto;
    }
    .sm-text-align-center {
        text-align: center;
    }
    .form-heading {
        padding-bottom: 0.5rem;
    } 
    .text-area-heading {
        padding-bottom: 0.5rem
    }
}


/*Home Page---------------------------*/

/* @media screen and (min-height: 1800px) {
    #bottom-heading {
        min-height: 1200px;
    }
    .form-container {
        min-height: 1600px;
    }
}

@media screen and (min-height: 1000px) {
    #bottom-heading {
        min-height: 1200px;
    }
    .form-container {
        min-height: 1000px;
        padding-top: 50px;
    }
    .form-heading {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .name-heading {
        font-size: 4rem;
        padding-top: 150px;
    }
    #bottom-heading {
        min-height: 800px;
    }
    .form-container {
        width: 75%;
    }
}

@media screen and (max-width: 1000px) {
    #bottom-heading {
        min-height: 100px;
    }
    .bandcamp-wrapper {
        margin-bottom: 1rem;
        margin-left: 0px;
    }
    .member-col {
        padding-top: 0.75rem;
        padding-left: 10%;
    }
    .member-info {
        margin-right: 50px;
    }
    .member-col > .member-info:nth-child(6) {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .name-heading {
        font-size: 2.5rem;
    }
    .bandcamp-wrapper {
        margin-right: 0px;
    }
    .member-col {
        padding-left: 7.5%;
    }
    .member-info {
        margin-right: 1.5rem;
    }
    .footer-menu {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px; 
    }
    .social {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0.5rem;
    }
    .social-links:last-child {
        margin-right: 0px;
    }
    .footer-menu {
        padding-left: 0px;
    }
    .sm-text-align-center {
        text-align: center;
    }
    .form-container {
        width: 80%;
    }
    .contact-text-area {
        width: 95%;
    }
}

@media screen and (max-width: 490px) {
    .member-section {
        background-image: url("../images/home-page/bedlam-stage-background-small-screens.jpg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        font-family: "Bitter", sans-serif;
    }
    .member-col {
        padding-left: 8%;
    }
    .member-info {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 350px) {
    #bandcamp-player {
        height: 400px;
        width: 280px;
    }
    .member-col {
        padding-left: 10%;
    }
    .member-info {
        margin-right: 0.25rem;
    }
}     */