@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

:root {

    /* Colors */
    --cream: #fcfcf5;
    --off-white: #fafafa;
    --light-grey: #a0a0a0;
    --black: #000;
    --nav-text: #00000093;
    --red: #a10f05;
    --bg-light: #ffffffb7;
    --bg-dark: #59595941;
}

/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes quoteBackground {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: var(--bg-light);
    }
}

@keyframes quoteText {
    0% {
        color: var(--cream);
    }

    100% {
        color: var(--black);
    }
}

@keyframes quotePadding {
    0% {
        padding-top: 0rem;
    }

    100% {
        padding-top: 1rem;
    }
}

@keyframes changeBackgroundColorIn {
    0% {
        background-color: var(--bg-dark);
    }

    100% {
        background-color: var(--bg-light);
    }
}

@keyframes changeBackgroundColorOut {
    0% {
        background-color: var(--bg-light);
    }

    100% {
        background-color: var(--bg-dark);
    }
}

@keyframes paddingMemberIn {
    0% {
        padding-top: 1.3rem;
    }

    100% {
        padding-top: 2rem;
    }
}

@keyframes paddingMemberOut {
    0% {
        padding-top: 2rem;
    }

    100% {
        padding-top: 1.3rem;
    }
}

@keyframes textIn {
    0% {
        color: var(--cream);
        padding-top: 2.5rem;
    }

    100% {
        color: var(--black);
        padding-top: 1rem;
    }
}

@keyframes textOut {
    0% {
        color: var(--black);
        padding-top: 1rem;
    }

    100% {
        color: var(--cream);
        padding-top: 2.5rem;
    }
}

@keyframes linkColorIn {
    0% {
        color: var(--nav-text);
    }

    100% {
        color: var(--red)
    }
}

@keyframes linkColorOut {
    0% {
        color: var(--red);
    }

    100% {
        color: var(--nav-text);
    }
}

@keyframes activeLinkColorIn {
    0% {
        color: var(--black);
    }

    100% {
        color: var(--red);
    }
}

@keyframes activeLinkColorOut {
    0% {
        color: var(--red);
    }

    100% {
        color: var(--black);
    }
}

@keyframes submitIn {
    0% {
        background-color: var(--red);

    }

    100% {
        background-color: var(--black);
    }
}

@keyframes submitOut {
    0% {
        background-color: var(--black);
    }

    100% {
        background-color: var(--red);
    }
}

@keyframes responseHomeLinkIn {
    0% {
        color: var(--red)
    }

    100% {
        color: var(--black)
    }
}

@keyframes responseHomeLinkOut {
    0% {
        color: var(--black)
    }

    100% {
        color: var(--red)
    }
}

@keyframes imageVidIn {
    0% {
        border-color: var(--cream)
    }

    100% {
        border-color: var(--red);
    }
}

@keyframes imageVidOut {
    0% {
        border-color: var(--red);
    }

    100% {
        border-color: var(--cream);
    }
}

.fade-in {
    animation: fadeIn 750ms ease-in-out;
}

/* Global-----------------------------*/

.font-one {
    font-family: "Bitter", sans-serif;
}

.font-two {
    font-family: "Cardo", sans-serif;
}

.full-vh-section {
    min-height: 100vh;
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

/* Backgrounds */

.bg-stage-image {
    background-image: url("../images/home-page/bedlam-stage-background-1.webp");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.bg-glass {
    /* Glassmorphism effect for background */
    background: rgba(253, 252, 240, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}

/*Navbar-----------------------------*/

.bg-color-navbar,
.bg-color-footer {
    background-color: var(--cream);
}

.nav-link:hover,
.footer-menu-link:hover {
    animation: linkColorIn 250ms ease-in-out forwards;
}

.nav-link:not(:hover),
.footer-menu-link:not(:hover) {
    animation: linkColorOut 250ms ease-in-out forwards;
}

/*Home Page------------------------------*/

#scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#home-section {
    scroll-snap-align: start;
    position: relative;
}

.name-heading {
    color: var(--cream);
    padding-top: 125px;
    font-size: 3rem;
}

#glass-layer {
    min-height: 100vh;
    width: 100%;
}

.quote-container {
    animation-name: quoteBackground, quoteText, quotePadding;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 750ms;
    border: 0px solid transparent;
    border-radius: 10px;
    width: 75vw;
    color: var(--cream);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -30%);
}

.quote-container blockquote {
    opacity: 0;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
    font-weight: 400;
}

.quote-container blockquote:nth-child(1),
.quote-container blockquote:nth-child(3) {
    animation-name: slideFromLeft;
}

.quote-container blockquote:nth-child(2),
.quote-container blockquote:nth-child(4) {
    animation-name: slideFromRight;
}

#content-section {
    scroll-snap-align: start;
    overflow-y: hidden;
}

#content-heading {
    color: var(--cream);
    padding-top: 120px;
}

.content-column {
    min-height: 55vh;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

#bandcamp-wrapper {
    position: relative;
    border-radius: 10px;
    border: none;
    height: 100%;
    width: 100%;
    scroll-snap-type: none;
    margin: 0 auto;

}

#bandcamp-player {
    position: absolute;
    height: 90%;
    width: auto;
    max-width: 90%;
    border-radius: 10px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bandcamp-wrapper:hover,
#member-container:hover {
    animation-name: changeBackgroundColorIn;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#bandcamp-wrapper:not(:hover),
#member-container:not(:hover) {
    animation-name: changeBackgroundColorOut;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#member-container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    scroll-snap-type: none;
    margin: 0 auto;
}

#member-wrapper {
    position: absolute;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    scroll-snap-type: y mandatory;
}

#member-wrapper:hover {
    overflow-y: auto;
}

.member {
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    color: var(--cream);
    border: none;
}

.member-photo {
    max-width: 80%;
    max-height: 70%;
    height: auto;
    width: auto;
    border: none;
    border-radius: 10px;
}

details {
    font-size: 1.25rem;
}

summary {
    list-style-type: none;
}

.member-info {
    padding-top: 0.5rem;
    font-size: 1rem;
}

article:hover .member {
    animation: paddingMemberIn 500ms ease-in-out forwards;
}

article:not(:hover) .member {
    animation: paddingMemberOut 250ms ease-in-out forwards;
}

article:hover details {
    animation: textIn 500ms ease-in-out forwards;
}

article:not(:hover) details {
    animation: textOut 250ms ease-in-out forwards;
}

/* Scrollbar */

#member-wrapper::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

#member-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--nav-text);
    border-radius: 10px;
}

#member-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#member-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--red);
}

/* Footer-----------------------------*/

footer {
    min-height: 60px;
    margin: 0;
}

.footer-wrapper {
    height: 100%;
}

.menu-container {
    padding-left: 0;
}

.footer-menu {
    padding-left: 1rem;
    height: 100%;
}

.footer-menu li a {
    text-decoration: none;
    font-weight: 400;
    padding-right: 0.75rem;
    margin-top: 1.25rem;
    color: var(--black);
}

.copy-container {
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.copy {
    margin-top: 2rem;
    margin-bottom: 0;
    color: var(--black);
    font-weight: 400;
}

.social {
    height: 100%;
    text-align: right;
    padding-top: 1rem;
}

.social-links {
    font-size: 1.25rem;
    color: var(--black);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.social li {
    margin-right: 0px;
}

.active:hover,
.social-links:hover {
    animation: activeLinkColorIn 250ms ease-in-out forwards;
}

.active:not(:hover),
.social-links:not(:hover) {
    animation: activeLinkColorOut 250ms ease-in-out forwards;
}

/*Video Page-----------------------*/

.video-gallery {
    padding-top: 125px;
    padding-bottom: 80px;
    margin: 0 auto;
    min-height: 65vh;
    width: 100%;
}

#video-heading {
    font-size: 2rem;
    color: var(--cream);
}

.video-box {
    height: 270px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 5px solid var(--cream);
    border-radius: 5px;
}

.video-box:hover {
    border-color: var(--cream);
    animation: imageVidIn 500ms ease-in-out forwards;
}

.video-box:not(:hover) {
    animation: imageVidOut 250ms ease-in-out forwards;
}

/*Gallery Page--------------------------*/

.image-gallery {
    padding-top: 125px;
    padding-bottom: 80px;
}

#gallery-heading {
    padding-top: 0;
    padding-bottom: 2.5rem;
    color: var(--cream);
    font-size: 2rem;
}

.gallery-image {
    border: 5px solid var(--cream);
    border-radius: 5px;
}

.gallery-image:hover {
    border-color: var(--cream);
    animation: imageVidIn 500ms ease-in-out forwards;
}

.gallery-image:not(:hover) {
    animation: imageVidOut 250ms ease-in-out forwards;
}

/* Image pages------------------------------ */

.bg-image-page {
    background-color: var(--bg-light);
}

.bg-image-page h1 {
    padding-top: 1rem;
    font-weight: 500;
}

.bg-image-page img {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
}

/*Contact page----------------------------*/

.contact-heading {
    margin-top: 100px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--cream);
}

.form-container {
    width: 50%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--black);
    background-color: var(--off-white);
    opacity: 95%;
    border-radius: 12px;
}

.form-heading {
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.bg-input-fields {
    background: transparent;
    color: var(--cream);
}

.contact-text-area {
    padding-top: 0.5rem;
    width: 85%;
    margin: 0 auto;
}

.text-area-heading {
    padding-bottom: 0.75rem;
}

textarea {
    width: 100%;
    height: 125px; /* Adjust as needed */
    resize: vertical; /* Allow vertical resizing */
  }

.form-button {
    color: var(--cream);
    background-color: var(--red);
    margin-bottom: 1rem;
}

.form-button:hover {
    animation: submitIn 0.5s ease-in-out forwards;
    color: var(--cream);
}

.form-button:not(:hover) {
    animation: submitOut 250ms ease-in-out forwards;
    color: var(--cream);
}

/* Submit response-------------------*/

.response-wrapper {
    padding-top: 375px;
}

.response-box {
    margin: 0 auto;
    width: 80%;
    background-color: var(--cream);
    opacity: 80%;
    border-radius: 12px;
}

.response-text {
    min-height: 100px;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

#response-home-link {
    color: var(--red);
    text-decoration: none;
}

#response-home-link:hover {
    animation: responseHomeLinkIn 250ms ease-in-out forwards;
}

#response-home-link:not(:hover) {
    animation: responseHomeLinkOut 250ms ease-in-out forwards;
}

/*Media Queries--------------------------Media Queries*/

@media screen and (min-width: 769px) and (max-width:992px) {

}

@media screen and (max-width: 768px) {

    .name-heading {
        padding-top: 110px;
    }

    #scroll-container {
        scroll-snap-type: none;
    }

    #content-section,
    #contact-section {
        padding-bottom: 4rem;
    }

    .quote-container {
        transform: translate(-50%, -25%)
    }

    #bandcamp-wrapper {
        width: 80%;
        margin: 0 auto;
    }

    #member-container {
        width: 90%;
    }

    .form-container {
        width: 80%;
        min-height: 30vh;
        margin-bottom: 3rem;
    }

    .contact-text-area {
        width: 95%;
    }

    #name,
    #email-address {
        max-width: 80%;
        margin: 0 auto;
    }

    .sm-text-align-center {
        text-align: center;
    }

    .form-heading {
        padding-bottom: 0.5rem;
    }

    .text-area-heading {
        padding-bottom: 0.5rem
    }

    .image-gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .image-wrapper:nth-of-type(9) {
        order: 3;
    }

    .image-wrapper:nth-of-type(10) {
        order: 1;
    }

    .image-wrapper:nth-of-type(11) {
        order: 2;
    }

    .image-wrapper:nth-of-type(12) {
        order: 3;
    }
}

@media screen and (max-width: 490px) {
    .bg-stage-image {
        background-image: url("../images/home-page/bedlam-stage-background-small-screens.webp");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .quote-container {
        width: 90vw;
        transform: translate(-50%, -20%);
    }
}

@media screen and (max-width: 410px) {
    .name-heading {
        font-size: 2rem;
    }

    .quote-container blockquote:nth-child(4) {
        display: none;
    }

    .quote-container {
        /* animation-delay: 3s; */
        transform: translate(-50%, -40%);
    }

    .sm-article-height {
        min-height: 55vh;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    #bandcamp-wrapper {
        width: 75%;
        height: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 310px) {
    .quote-container blockquote:nth-child(3) {
        display: none;
    }

    .quote-container {
        /* animation-delay: 4s; */
        transform: translate(-50%, -45%);
    }

}

@media screen and (max-width: 260px) {
    .name-heading {
        font-size: 1.5rem;
        padding-top: 135px;
    }
}

@media screen and (min-height: 491px) and (max-height: 601px) {
    .quote-container blockquote:nth-child(4) {
        display: none;
    } 
}

@media screen and (max-height: 490px) {
    .name-heading {
        padding-top: 125px;
        font-size: 2.5rem;
    }
    
    .quote-container {
        display: none;
    }

    .response-wrapper {
        padding-top: 100px;
    }
}

@media screen and (min-height: 920px) {
    textarea {
        height: 350px;
    }
}

@media screen and (min-height: 920px) and (max-width: 1025px) {
    #content-heading {
        margin-top: 3rem;
    }
    .content-column { 
        max-height: 40vh;
        margin-top: 20%;
    }
    #member-wrapper {
        height: 75%;
    }

    .contact-heading {
        padding-top: 3rem;
        padding-bottom: 80px;
    }
    textarea {
        height: 400px;
    }
    
}

/* Footer only---------------------------*/

@media screen and (max-width: 1170px) {
    .copy-container {
        display: none;
    }
}

@media screen and (max-width: 785px) {
    .menu-container {
        display: none;
    }

    .social {
        text-align: center;
    }

    .social-links {
        font-size: 1.5rem;
    }

    .social-links:nth-of-type(5) {
        margin-right: 0px;
    }
}

/* Gallery only--------------------------*/

@media screen and (min-width: 769px) and (max-width: 990px) {
    .image-gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .image-wrapper:nth-of-type(3) {
        order: 4;
    }

    .image-wrapper:nth-of-type(5) {
        order: 2;
    }

    .image-wrapper:nth-of-type(6) {
        order: 1;
    }

    .image-wrapper:nth-of-type(7) {
        order: 1;
    }

    .image-wrapper:nth-of-type(8) {
        order: 1;
    }

    .image-wrapper:nth-of-type(9) {
        order: 3;
    }

    .image-wrapper:nth-of-type(10) {
        order: 2;
    }

    .image-wrapper:nth-of-type(11) {
        order: 1;
    }

    .image-wrapper:nth-of-type(12) {
        order: 4;
    }
}